{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Snippets | Django</title>
    <script src="{% static "blog/test.js" %}"></script>
</head>
<body>
{{ message }}
</body>
</html>